<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @download.user_id %>
</p>

<p>
  <strong>User upload:</strong>
  <%= @download.user_upload_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @download.description %>
</p>

<p>
  <strong>Apporve:</strong>
  <%= @download.apporve %>
</p>

<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>
